/* CSS BY DYLAN MCDANIEL */

/* IMPORTED FONTS */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/* CSS RESET */
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent
}

body {
    line-height: 1
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}

nav ul {
    list-style: none
}

blockquote,
q {
    quotes: none
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: none
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent
}

ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none
}

mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold
}

del {
    text-decoration: line-through
}

abbr[title],
dfn[title] {
    border-bottom: 1px dotted;
    cursor: help
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0
}

input,
select {
    vertical-align: middle
}

/* ROOT VARIABLES */
:root {
    --midnight-blue: #1F2A44;
    --olive-green: #76885B;
    --champagne-gold: #E5C185;
    --linen: #F8F4EC;
    --dark-charcoal: #2B2B2B;
    --soft-white: #FAF9F6;

    --soft-charcoal: #2B2B2B70;

    --font: "Playfair Display", Garamond, serif;

    --shadow: 0 5px 10px var(--soft-charcoal);
}

/* GLOBAL STYLES (mobile first/small) */
body {
    font-family: var(--font);
    min-width: 320px;
    width: 100vw;
}

header,
main,
footer {
    margin: 0 auto;
}

header {
    background-color: var(--midnight-blue);
    color: var(--soft-white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header h1 {
    font-size: 2.5rem;
    margin: 0;
}

header img {
    width: 40vw;
    height: auto;
}

header p {
    font-style: italic;
    font-size: 0.8rem;
}

header img,
header p {
    margin: 1.3rem 0;
}

header nav {
    background-color: var(--champagne-gold);
    width: 100%;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0.6rem;
}

nav ul a {
    text-decoration: none;
    color: var(--midnight-blue);
    font-weight: bolder;
    font-size: 1rem;
}

nav ul a:hover {
    color: var(--soft-white);
    cursor: pointer;
}

main {
    background-color: var(--linen);
    display: grid;
    grid-template-columns: minmax(320px, 1fr);
    justify-content: center;
    align-items: center;
}

main h2 {
    color: var(--midnight-blue);
    font-size: 1.3rem;
    font-weight: normal;
}

main section {
    margin: 0 1rem;
}

main section:first-child {
    margin-top: 2.6rem;
}

hr {
    height: 2px;
    background-color: var(--champagne-gold);
    margin: 1rem 1rem;
}

main p {
    color: var(--dark-charcoal);
    font-size: 0.75rem;
    line-height: 1.5;
    margin: 0.6rem 0;
}

#offerings h2,
#gallery h2 {
    margin-top: 0.5rem;
}

#offerings section {
    background-color: var(--olive-green);
    color: var(--soft-white);
    border-radius: 10px;
    padding: 0.5rem 0.75rem;
    margin: 1rem 0;
    box-shadow: var(--shadow);
}

#offerings section h3 {
    font-size: 1.2rem;
    margin-top: 0.5rem;
}

#offerings section p,
#offerings section ul {
    color: var(--soft-white);
    font-size: 0.75rem;
    line-height: 1.5;
}

#offerings section ul {
    margin: -0.5rem 0.75rem;
    text-indent: 0.5rem;
}

.deck {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    gap: 1.3rem;
}

.deck figure img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0 0;
}

.deck figure figcaption {
    padding: 0.6rem;
    border-radius: 0 0 10px 10px;
    background-color: var(--soft-white);
    color: var(--dark-charcoal);
    font-style: italic;
    font-weight: normal;
    font-size: 0.7rem;
    text-align: center;
    box-shadow: var(--shadow);
}

.deck a {
    width: 100%;
    background-color: var(--olive-green);
    border-radius: 5px;
    text-align: center;
    padding: 0.75rem 0;
    text-decoration: none;
    color: var(--soft-white);
    font-weight: bold;
    font-size: 0.8rem;
    cursor: pointer;
}

footer {
    background-color: var(--midnight-blue);
    font-size: 0.7rem;
    font-weight: bold;
    text-align: center;
    padding: 2rem 0;
}

footer address {
    color: var(--soft-white);
    font-style: normal;
    padding: 1rem 0;
    margin: 0 auto;
    line-height: 1.6;
}

footer a {
    text-decoration: none;
    color: var(--champagne-gold);
}

footer a:hover {
    color: var(--soft-white);
    cursor: pointer;
}

footer ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    list-style-type: none;
    margin-top: 0.5rem;
}

/* MEDIA QUERY (medium) */
@media screen and (min-width:600px) {
    header h1 {
        font-size: 4.2rem;
    }

    header p {
        font-size: 1.3rem;
    }

    nav ul a {
        font-size: 1.5rem;
    }

    main h2 {
        font-size: 1.8rem;
    }

    main section {
        margin: 0 1.5rem;
    }

    main p {
        font-size: 1rem;
    }

    .options {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 1.5rem;
        row-gap: 0.5rem;
    }

    #offerings section {
        padding: 0.75rem 1rem;
    }

    #offerings section:nth-of-type(3) {
        grid-row: 2/3;
        grid-column: 1/3;
        margin-top: 0;
    }

    #offerings section h3 {
        font-size: 1.5rem;
    }

    #offerings section p,
    #offerings section ul {
        font-size: 1rem;
    }

    .deck {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .deck a {
        grid-row: 4/5;
        grid-column: 1/-1;
    }
}

/* MEDIA QUERY (large) */
@media screen and (min-width:900px) {
    header img {
        width: 25vw;
    }

    .deck {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .deck a {
        grid-row: 3/4;
    }
}

/* MEDIA QUERY (xl) */
@media screen and (min-width:1200px) {
    .deck {
        grid-template-columns: repeat(5, 1fr);
    }

    .deck a {
        grid-row: 2/3;
    }

    .deck figure figcaption {
        font-size: 0.85rem;
    }
}